*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 147px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-height: 100vh;
}
.booking-container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 25%;
    
}
.booking-content {
    flex: 1;
    max-width: 50vw;
    padding: 50px;
    position: relative;
    z-index: 2;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.8px);
    -webkit-backdrop-filter: blur(12.8px);
    border: 1px solid rgba(255, 255, 255, 0.45);
}
.booking-content h1 {
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.booking-content p {
    font-size: 16px;
    margin: 15px 0 25px;
    color: black;
}
.Trip-select {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.Trip-select button {
    background: none;
    border: 2px solid black;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s ease;
}
.Trip-select .active, .Trip-select button:hover {
    background: black;
    color: white;
}
form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 16px;
}
.time-select {
    display: flex;
    gap: 19.5%;
    align-items: center;
}
.Enquire {
    position: relative;
    width: 15%;
    background: black;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    
}
.Enquire:hover {
    background: white;
    color: black;
}
.heroimg {
    flex: 1;
    position: absolute;
    right: 0px;
    left: 200px;
    bottom: 180px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.heroimg img {
    width: 130%;
    height: 110%;
    object-fit: cover;
}
.heroimg{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.Main-Logo{
    top: 36px;
    left: 140px;
    width: 296px;
    height: 76px;

    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}
.navbar ul li a:hover {
    color: white; 
}
.selectors{
    width: 60%;
}
.time-selector select{
    width: 100%;
}
.time-selector{
    width: 30%;
    display: flex;
    gap: 5%;
}
.fade-to-white{
    position: relative;
    top: 15%;
    right: 50px;
    width: 1920px;
    height: 201px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
}
